.Monday{
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 0px !important;
    position: absolute !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.Tuesday {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 0px !important;
    position: absolute !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.Wednesday{
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 0px !important;
    position: absolute !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.Thrusday {
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 0px !important;
    position: absolute !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.Friday{
    width: 100%;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 0px !important;
    position: absolute !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#days .day:first-child{
	float:left;
    margin-left: -1px;
    border-left: 1px solid rgba(255,255,255,.5);
}
.day {
    float: left;
    border-left: 1px solid;
    height: 100%;
    position: relative;
    width: 171.2px;
}
#objectPContainer {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#days {
    float: left;
    width: 860px;
    height: 799px;
    background-color: #d8d8d8;
    z-index: 999;
}
body{background-image: url(dj.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left:300px;
	font-family: 'Roboto Condensed', sans-serif;
}
#leftScheduleCorner {
    width: 0;
    height: 10px;
    float: left;
    margin-right: 29px;
}
p{
	margin-top:3px;
	margin-left: 3px; 
    display: block;
}
.hourText{
    display: table;
    float: left;
    height: 100%;
    width: 100%;
}
.hourText {
    display: table;
    float: left;
    height: 100%;
    width: 100%;
}
.hour{
	width: 100%;
	height: 100px;
	border-bottom: 1px solid;
	box-sizing: border-box;
	float: left;
}
#hours {
    float: left;
    width: 30px;
    border-right: 1px solid;
    position: relative;
    height: 799px;
    z-index: 1;
}
.weekDay {
    float: left;
    border-left: 1px solid;
    width: 171.2px;
    height: 100%;
}
#schedule {
    float: left!important;
    width: 890px;
    background-color: #fff;
    border: 1px solid;
    height: 750px;
    transform-origin: 0 0;
}
#weekDays {
    float: left;
    width: 100%;
    height: 29px;
    border-bottom: 1px solid;
    background-color: #fff;
}